In [ ]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta

In [ ]:
ticker_symbol='HDFCBANK.NS'

In [ ]:
Data=yf.download(tickers=ticker_symbol,period="2y",interval="1d",group_by=ticker_symbol)

In [10]:
Data.columns = Data.columns.droplevel(0)
Data.head(5)

Price              Open         High          Low        Close    Volume
Date
2023-07-10  1620.793425  1636.162176  1609.766908  1616.353516  19199221
2023-07-11  1622.744978  1635.430296  1605.668587  1608.498413  25335213
2023-07-12  1615.280167  1625.965180  1587.762831  1593.422363  35479179
2023-07-13  1616.597481  1617.329326  1598.399023  1601.375122  20956773
2023-07-14  1613.572448  1613.572448  1595.422709  1604.692749  12363607

In [12]:
Data['RSI']=ta.rsi(Data["Close"], length=14)

In [18]:
info = yf.Ticker(ticker_symbol).info
Data['Sector']=info.get("sector")
Data['Industry']=info.get("industry")

In [22]:
MACD=ta.macd(Data["Close"], fast=12, slow=26, signal=9)
Data=pd.concat([Data,MACD],axis=1)

In [24]:
Data.rename(columns={
    "MACD_12_26_9": "MACD_Line",
    "MACDs_12_26_9": "MACD_Signal",
    "MACDh_12_26_9": "MACD_Histogram"
}, inplace=True)

In [28]:
Data.head(100)

,Open,High,Low,Close,Volume,RSI,Sector,Industry,MACD_Line,MACD_Histogram,MACD_Signal
Date,,,,,,,,,,,
2023-07-10,1620.793425,1636.162176,1609.766908,1616.353516,19199221,NaN,Financial Services,Banks - Regional,NaN,NaN,NaN
2023-07-11,1622.744978,1635.430296,1605.668587,1608.498413,25335213,NaN,Financial Services,Banks - Regional,NaN,NaN,NaN
2023-07-12,1615.280167,1625.965180,1587.762831,1593.422363,35479179,NaN,Financial Services,Banks - Regional,NaN,NaN,NaN
2023-07-13,1616.597481,1617.329326,1598.399023,1601.375122,20956773,NaN,Financial Services,Banks - Regional,NaN,NaN,NaN
2023-07-14,1613.572448,1613.572448,1595.422709,1604.692749,12363607,NaN,Financial Services,Banks - Regional,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-11-28,1498.038472,1500.038897,1488.866106,1491.647095,14244669,58.307801,Financial Services,Banks - Regional,1.768044,6.431181,-4.663137
2023-11-29,1496.770022,1525.165596,1495.891784,1521.408813,17021244,67.654482,Financial Services,Banks - Regional,5.265415,7.942841,-2.677426
2023-11-30,1531.166702,1534.386749,1504.820272,1521.067261,34745720,67.467551,Financial Services,Banks - Regional,7.918269,8.476557,-0.558287
2023-12-01,1520.188996,1527.848952,1514.529345,1517.749512,11076768,65.572259,Financial Services,Banks - Regional,9.641816,8.160083,1.481733
2023-12-04,1549.560495,1572.979545,1535.557878,1570.442505,25331228,76.745551,Financial Services,Banks - Regional,15.085725,10.883193,4.202532